body {
    background-color: #fff;
    font-family: sans-serif;
    line-height: 1.2;
}

/*  style wrapper  */
.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*  style header  */
header {
    padding-left: 1em;
    width: 100%;
    display: flex;
}

header p {
    text-align: right;
    margin-right: 1em;
    margin-left: auto;
    align-self: flex-end;
}

header h1{
    color: black;
    letter-spacing: .1em;
}

/*  style sections  */
section.cover{
    padding: 2em;
    margin: .5em;
    background-color: red;
    color: black;
    border-radius: 1em;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

section.cover:empty{
    height: 0;
    padding: 0 2em;
}

section.cover img{
    width: 100%;
    height: auto;
}

section.cover:hover {
    background-color: darkred;
}

section.cover p:nth-last-child(2) {
    padding-bottom: 2em;
}

section.cover button:last-child{
    width: 10em;
    padding: .5em;
    background-color: grey;
    border-radius .5em;
    margin: auto auto 0 auto;
}

/*  style footer, validatie en github  */

footer{
    margin: 40px;
}
#validatie img{
    width: 70px;
    position: relative;
    top: 20px;
    display: block;
    margin-top: 10px;
}

#githublink img{
    width: 30px;
    position: relative;
    top: 20px;
    display: block;
    margin-top: 10px;
}